.inStyle{
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    border: 3px solid red !important;
    outline: none;
}
.fcc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url(./images/bg-intro-desktop.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 100vh;
    font-size: 16px;
    font-family:"Poppins" ;
    background-color:hsl(0, 100%, 74%);
}
.main{
    max-width: 900px;
    display: flex;
    margin: 100px;
}
.left{
    margin: 30px;
    max-width: 80%;
}
.try{
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    color: aliceblue;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    background-color:  hsl(248, 32%, 49%);
    height: 50px;
    margin-bottom: 20px;
}
.right{
    width: 95%;   
}
.inputs{
    width: 100%;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
}
button, #in{
    width: 77%;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;  
}
#in{
    padding-left: 30px;
    border: 2px solid lightgrey;
    font-weight: 700;
}
button {
    border: 10px solid hsl(154, 59%, 51%);
    background-color: hsl(154, 59%, 51%);
    box-sizing: border-box;
    transition: all 0.1s ease;
    width: 86%;
    color: aliceblue;
    font-size: 12px;
    font-weight: 700;
}
button:active {
    transform: scale(0.96);
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
}
a, .info{
    font-size: 8px;   
}
.info{
   margin-right: 5px; 
   color: lightgrey;
}
a{
    color: red;
    text-decoration: none;
}
.free,.price{
    font-size: 12px;
}
.free{
    font-weight: 700;
    margin-right: 5px;
}
.text{
    color: aliceblue;
    font-size: 12px;
}
.header{
    color: aliceblue;
    font-size: 35px;
    line-height: 1.1;
}
.mes{
    width: 80%;
    font-size: 8px;
    text-align: right;
    color: red;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:950px){

    body{
        width: 375px;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 375px;
        margin: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .left{
        margin: 0px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.4;
    }
    .try{
        margin-top: 10%;
        height: 90px;
        flex-wrap: wrap;
    }
    #in{
        height: 50px;
        font-weight: 800;
        font-size: 15px;
    }
    button{
        height: 55px;
        letter-spacing: 2px;
        font-size: 15px;

    }
    .foot{
        flex-direction: column;
        line-height: 0.8;
    }
    .text{
        text-align: center;
        font-size: 18px;
    }
    .header{
        text-align: center;
        font-size: 28px;
        line-height: 1.3;
    }
    .foot *{
        font-size: 11px;
    }
    .try *{
        font-size: 15px;
    }
}
